{% extends 'base.html.twig' %}

{% block title %}Nieuwe auteur{% endblock %}

{% block body %}
    <h1>Nieuwe auteur toevoegen</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('app_author_index') }}">Terug naar overzicht</a>
{% endblock %}
