{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-container text-center">
        <h1>Welkom bij het digitale bibliotheeksysteem</h1>
        <p>Kies een actie uit het menu om te starten</p>
    </div>

{% endblock %}
