{% extends 'base.html.twig' %}

{% block title %}Nieuwe klant{% endblock %}

{% block body %}
    <h1>Nieuwe klant toevoegen</h1>

    {{ include('customer/_form.html.twig') }}

    <a href="{{ path('app_customer_index') }}">Terug naar overzicht</a>
{% endblock %}
