<form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}" onsubmit="return confirm('Weet je zeker dat je dit boek wilt verwijderen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-danger mb-4">Verwijderen</button>
</form>
