{% extends 'base.html.twig' %}

{% block title %}Nieuw boek{% endblock %}

{% block body %}
    <h1>Nieuw boek toevoegen</h1>

    {{ include('book/_form.html.twig') }}

    <a href="{{ path('app_book_index') }}">Terug naar overzicht</a>
{% endblock %}
