<form method="post" action="{{ path('app_loan_delete', {'id': loan.id}) }}" onsubmit="return confirm('Weet je zeker dat je deze uitlening wilt verwijderen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loan.id) }}">
    <button class="btn btn-danger mb-4">Verwijderen</button>
</form>
