{% extends 'base.html.twig' %}

{% block title %}Nieuwe uitlening{% endblock %}

{% block body %}
    <h1>Nieuwe uitlening toevoegen</h1>

    {{ include('loan/_form.html.twig') }}

    <a href="{{ path('app_loan_index') }}">Terug naar overzicht</a>
{% endblock %}
