<!DOCTYPE html>
<html>
    {% include 'includes/_head.html.twig' %}
    <body>
        {% include 'includes/_header.html.twig' %}

        <main>
            <div class="container">
                <div class="mx-auto my-5">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
